<div class="jumbotron center">
	     	<h1>"If I get this, I'll do that."</h1>
			<p>
				<%= link_to "Sign up", "#", class: "btn btn-primary" %>
				<%= link_to "Log in", "#", class: "btn btn-default" %>
			</p>
</div>